  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 1rem;
  }

  .button {
    background-color: #3498db;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    margin-bottom: 1rem; /* Example margin for spacing */
  }

  .table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
  }

  .table th, .table td {
    border: 1px solid #ddd;
    padding: 0.5rem;
    text-align: left;
  }
  /* body{
    background-color: black
  } */
